doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    title askNUS
  body
    .header
      h1.page-title askNUS
    
    .main-content
      block content

    .footer
      p Copyright © askNUS
